{% extends 'base.html' %}
{% load static %}

{% block page_title %}
    Rokardo
{% endblock page_title %}

{% block page_body %}
    <div>
        <h2>Search song</h2>
        <form action="api/song/search" method="get">
            <input type="text" name="q" id="song_search" autofocus>
            <input type="submit" id="submit">
        </form>
    </div>
    <div>
        <h2>Top Artists</h2>
        <a href="api/artist/top/">Get</a>
    </div>

    <div>
        <br/>
        <h2>Get Artist by MBID</h2>
        <form action="api/artist/page" method="get">
            <input type="text" name="artist_mbid" id="artist_id">
            <input type="submit" id="submit">
        </form>
    </div>
{% endblock page_body %}